<div class="the-menu" *ngIf="isShowing" @enterState>
  <ion-list>
    <ng-container *ngFor="let v of ventanas">
      <ion-item [routerLink]="v.redirectTo" (click)="open()" color="undefined" detail="true" mode="ios" lines="none" shape="round" *ngIf="v.tipo == type || v.tipo == 'all'">
        <ion-icon slot="start" [name]="v.icon" color="white"></ion-icon>{{ v.name }}
      </ion-item>
    </ng-container>
    <ion-item (click)="open()" color="undefined" detail="true" mode="ios"lines="none" shape="round" (click)="logout()">
      <ion-icon slot="start" name="log-out"></ion-icon>Cerrar Sesión
    </ion-item>
  </ion-list>
  <h3>MENÚ</h3>
</div>

<ion-button class="menu-button" (click)="open()" expand="fill" fill="clear">
  <ion-icon class="menu-icon" name="ellipsis-horizontal-circle-outline" color="dark" size="large"></ion-icon>
</ion-button>