<ion-content>

  <div class="main-header">
    <h1>Generar Código QR</h1>
    <span></span>
  </div>

  <div class="container">

    <ion-list *ngIf="isShowing">
      <!-- <ion-item>
        <ion-label>Clase:</ion-label>
        <ion-input type="text" placeholder="Ingrese la Clase" [(ngModel)]="class"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Sección:</ion-label>
        <ion-input type="text" placeholder="Ingrese la Sección" [(ngModel)]="section"></ion-input>
      </ion-item> -->
      <div *ngIf="error">{{errorclase</div>
      <ion-item>
        <ion-label>Clase:</ion-label>
          <ion-select placeholder="Seleccione la Clase" (ionChange)="handleChange($event)">
            <ion-select-option *ngFor="let c of clases" [value]="c">{{c.sigla}}-{{c.seccion}}</ion-select-option>
          </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Fecha:</ion-label>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true" cssClass="datetime-modal">
          <ng-template>
            <ion-datetime
            presentation="date"
            id="datetime" [isDateEnabled]="isWeekday"
            [(ngModel)]="schedule" [showDefaultButtons]="true">
            </ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>
      <ion-item>
        <ion-label>Hora Inicio:</ion-label>
        <ion-datetime-button datetime="datetime2"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true" cssClass="datetime-modal">
          <ng-template>
            <ion-datetime
            presentation="time"
            id="datetime2"
            [(ngModel)]="beginning" [showDefaultButtons]="true">
            </ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>
      <ion-item>
        <ion-label>Hora Termino:</ion-label>
        <ion-datetime-button datetime="datetime3"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true" cssClass="datetime-modal">
          <ng-template>
            <ion-datetime
            presentation="time"
            id="datetime3"
            [(ngModel)]="ending" [showDefaultButtons]="true">
            </ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>
    </ion-list>
    
    <br><br>
    <ion-button (click)="generateCode()" expand="full" fill="outline" shape="round">Generar QR</ion-button>

    <!-- <ion-item *ngIf="isShowing">
      <ion-input type="text" placeholder="Data" [(ngModel)]="qrData"></ion-input>
    </ion-item> -->
    <br>
    <div *ngIf="createdCode">
      <ion-card>
        <ngx-qrcode [value]="createdCode" cssClass="qr-style"></ngx-qrcode>
        <ion-card-content>
          <p>SIGLA: {{ clase[0] }}</p>
          <p>CLASE: {{ clase[1] }}</p>
          <p>SECCIÓN: {{ clase[2] }}</p>
          <p>FECHA: {{ clase[3] }}</p>
          <p>HORA INICIO: {{ clase[4] }}</p>
          <p>HORA TERMINO: {{ clase[5] }}</p>
        </ion-card-content>
      </ion-card>
      <br><br>
  
      <ion-button (click)="guardarAsistencia()" expand="full" fill="outline" shape="round">Guardar Asistencia</ion-button>
    </div>
  </div>
  <br><br>

  <app-main-menu (mostrar)="mostrarMenu()"></app-main-menu>
</ion-content>
