<ion-content>

  <div class="main-header">
    <h1>Generar Código QR</h1>
    <span></span>
  </div>

  <div class="container">

    <ion-item>
      <ion-input type="text" placeholder="Data" [(ngModel)]="qrData"></ion-input>
    </ion-item>

    <ion-card *ngIf="createdCode">
      <ngx-qrcode [value]="createdCode" cssClass="qr-style"></ngx-qrcode>
      <ion-card-content>
        <p>Value: {{ createdCode}}</p>
      </ion-card-content>
    </ion-card>

    <!-- <img src="/assets/qr.jpg" class="Generando QR" *ngIf="isGenerated"/> -->
    <ion-button (click)="generateCode()" expand="full" fill="outline" shape="round">Generar QR</ion-button>
  </div>
  <app-main-menu (mostrar)="mostrarMenu()"></app-main-menu>
</ion-content>
