<ion-header>

</ion-header>

<ion-content class="ion-padding">
  <div class="title">
    <h4>Regístrate</h4>
  </div>

  <ion-input placeholder="Nombre Completo" class="primary-input"></ion-input>
  <ion-input placeholder="Correo" class="primary-input" type="email"></ion-input>
  <ion-input placeholder="Contraseña" type="password" class="primary-input"></ion-input>
  <br>
  <ion-list>
    <ion-radio-group name="profile-type" value="alumno">
      <ion-item>
        <ion-label>Alumno</ion-label>
        <ion-radio value="alumno"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Profesor</ion-label>
        <ion-radio value="profesor"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <br>
  <p>Al registrarte, aceptas nuestros términos y condiciones</p>

  <div class="ion-margin-top">
    <ion-button class="ion-margin-center" expand="block" (click)="dismiss()">Registrarse</ion-button>
  </div>

  <div class="ion-text-center">
    <ion-button class="type" (click)="dismiss()"><a>Cerrar</a></ion-button> 
  </div>

</ion-content>
