
<ion-content>

  <div class="main-header">
    <h1>Registro de Asistencia</h1>
    <span></span>
  </div>

  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Clase:</ion-card-subtitle>
        <ion-card-title>Programación de Aplicaciones Moviles</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Fecha: 09/09/2022<br>
        Hora: 15:30
      </ion-card-content>
    </ion-card>
  </div>
  <app-main-menu (mostrar)="mostrarMenu()"></app-main-menu>
</ion-content>
