<ion-header>
  <ion-toolbar>
    <ion-title>Registro Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Clase:</ion-card-subtitle>
        <ion-card-title>Programación de Aplicaciones Moviles</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Fecha: 09/09/2022<br>
        Hora: 15:30
      </ion-card-content>
    </ion-card>
  </div>
  <app-main-menu (mostrar)="mostrarMenu()"></app-main-menu>
</ion-content>
