
<ion-content>

  <div class="main-header">
    <h1>Registro de Asistencia</h1>
    <span></span>
  </div>

  <div class="container" *ngIf="type == 'student'">
    <ion-card  *ngFor="let l of listaS">
      <ion-card-header>
        <ion-card-subtitle>{{l.sig}}</ion-card-subtitle>
        <ion-card-title>{{l.nombre}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Sección: {{l.seccion}}</p>
        <p>Fecha: {{l.fecha}}</p><br>
        <p>Hora Inicio: {{l.horaInicio}}</p><br>
        <p>Hora Final: {{l.horaFinal}} </p><br><br>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="container" *ngIf="type == 'teacher'">
    <ion-card  *ngFor="let l of listaT">
      <ion-card-header>
        <ion-card-subtitle>{{l.fecha}}</ion-card-subtitle>
        <ion-card-title>{{l.siglas}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Hora Inicio: {{l.horaInicio}}<br>
        Hora Final: {{l.horaFinal}} <br><br>
        Estudiantes: <br>
        <p *ngFor="let e of l.listaEstudiantes">- {{e.stName}} / {{e.stEmail}}</p>
      </ion-card-content>
    </ion-card>
  </div>

  <app-main-menu (mostrar)="mostrarMenu()"></app-main-menu>
</ion-content>
