<ion-header mode="md">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="main-option">
      <img class="qr-image" src="/assets/scan-qr.jpg" alt="Imagen QR">
      <div class="hover" routerLink="/scan-qr">
        <h3>Escanear</h3>
      </div>
    </div>
    <div class="main-option">
      <img class="qr-image" src="/assets/qr.jpg" alt="Imagen QR">
      <div class="hover" routerLink="/generate-qr">
        <h3>Generar QR</h3>
      </div>
    </div>
  </div>
  <app-main-menu (mostrar)="mostrarMenu()"></app-main-menu>
</ion-content>
