<div class="the-menu" *ngIf="isShowing" @enterState>
  <ion-list>
    <ion-item *ngFor="let v of ventanas" [routerLink]="v.redirectTo" (click)="open()" color="undefined" detail="true" mode="ios" lines="none" shape="round">
      <ion-icon slot="start" [name]="v.icon" color="white"></ion-icon>{{ v.name }}
    </ion-item>
  </ion-list>
</div>

<ion-button class="menu-button" (click)="open()" expand="block" fill="clear">
  <ion-icon name="ellipsis-horizontal-circle-outline" color="dark" size="large"></ion-icon>
</ion-button>