<ion-content>

  <div class="main-header">
    <h1>Escanear QR</h1>
    <span></span>
  </div>

  <div class="container">
    <!-- <img src="/assets/scanning-qr.jpg" class="Escaneando QR" /> -->

    <ion-card *ngIf="scannedCode">
      <ion-card-header>
        <ion-card-title>CÓDIGO ESCANEADO EXITOSAMENTE.</ion-card-title>
        <ion-card-subtitle>Su asistencia en la clase se ha guardado:</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Sigla: {{ sAsist.sig }}</p>
        <p>Clase: {{ sAsist.nombre }}</p>
        <p>Sección: {{ sAsist.seccion }}</p>
        <p>Fecha: {{ sAsist.fecha }}</p>
        <p>Horario Inicio: {{ sAsist.horaInicio }}</p>
        <p>Horario Final: {{ sAsist.horaFinal }}</p>
      </ion-card-content>
    </ion-card>

    <ion-button (click)="scanCode()" expand="full" fill="outline" shape="round">Escanear QR</ion-button>
  </div>
  <div class="footer">
    <p (click)="qrManual()">Digita el código manualmente aquí.</p>
  </div>
  <app-main-menu (mostrar)="mostrarMenu()"></app-main-menu>
</ion-content>