<ion-header>
  <ion-toolbar>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup] = "formularioLogin" (keyup.enter)="Ingresar()">
    <ion-item>
      <ion-label position="floating"> Correo: </ion-label>
      <ion-input formControlName="correo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"> Password: </ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <br>
    <br>
    <ion-button (click) ="Ingresar()" expand="block" fill="outline" shape="round">Ingresar</ion-button>
  </form>
  <br>

  <div class="ion-margin-top ion-text-center forget">
    <a (click)="forget()" (click)="dismiss()">¿Olvidaste tu contraseña?</a>
  </div>
  <br>
  <div class="ion-margin-top ion-text-center ion-margin-bottom">
    <ion-button class="type" (click)="dismiss()"><a>Cerrar</a></ion-button> 
  </div>

</ion-content>