/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.ion-color-white {
    --ion-color-base: var(--ion-color-white);
    --ion-color-base-rgb: var(--ion-color-white-rgb);
    --ion-color-contrast: var(--ion-color-white-contrast);
    --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb);
    --ion-color-shade: var(--ion-color-white-shade);
    --ion-color-tint: var(--ion-color-white-tint);
}

:root{
    --first-color: #9381FF;
    --second-color: #b8acff;
    --third-color: #f1eeff;
}

// MODALES
.login-modal {
    &::part(content){
        height: 55% !important;
        position: absolute;
        top: 45%;
        display: block;
        border-radius: 20px 20px 0 0;
    }
}


.register-modal {
    &::part(content){
        height: 55% !important;
        position: absolute;
        top: 45%;
        display: block;
        border-radius: 20px 20px 0 0;
    }
}

.forgot-modal {
    &::part(content){
        height: 55%;
        top: 60%;
        position: absolute;
        display: block;
        border-radius: 20px 20px 0 0;
    }
}

.primary-input {
    background: aliceblue;
    --padding-start: 10px !important;
    color: #999999;
    border-radius: 5px;
    margin-bottom: 10px;
}

// HEADER IONIC
ion-toolbar {
    --background: linear-gradient(to top,#9381FF,#b8acff);
    --color:white;
    padding-top: 2%;
    padding-bottom: 8%;
    -webkit-box-shadow: 0px 5px 15px -2px rgba(0,0,0,0.28); 
    box-shadow: 0px 5px 15px -2px rgba(0,0,0,0.28);
    border-radius: 0 0 15% 15%;
}

ion-title {
    text-align: center;
}

// HEADER PERSONALIZADO
.main-header {
    text-align: center;
    padding: 4% 8% 4% 8%;
    margin-bottom: 3%;
    // background: linear-gradient(to top,#9381FF,#b8acff);
    // border-radius: 0 0 1rem 1rem;
    box-shadow: 0px 5px 15px -2px rgba(0, 0, 0, 0.178);
    -webkit-box-shadow: 0px 5px 15px -2px rgba(0, 0, 0, 0.144);
    width: 100%;
    height: 11vh;
}

.main-header h1 {
    margin: 1rem 0 1rem 0;
}

.main-header span {
    position: absolute;
    width: 100%;
    top: 10.5vh;
    box-shadow: 0 0 20px var(--first-color), 0 0 40px var(--first-color), 0 0 60px var(--second-color);
    border-bottom: 0.3rem solid #9381FF;
    // animation: neon 10s linear infinite;
    border-radius: 10px;
    left: 0;
}

// @keyframes neon {
//     0% {
//         transform: translateX(-160%);
//     }
//     100% {
//         transform: translateX(100%);
//     }
// }

// PARA HACER EL EFECTO WAVE
// .main-header {
//     text-align: center;
//     padding: 4% 8% 4% 8%;
//     margin-bottom: 3%;
//     // color: black;
//     // background: linear-gradient(to top,#9381FF,#b8acff);
//     // border-radius: 0 0 1.5rem 1.5rem;
//     // -webkit-box-shadow: 0px 5px 15px -2px rgba(0,0,0,0.28); 
//     // box-shadow: 0px 5px 15px -2px rgba(0,0,0,0.28);
//     position: relative;
//     width: 100%;
//     height: 11vh;
//     overflow: hidden;
// }
// .wave {
//     position: absolute;
//     margin: 0;
//     padding: 0;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 90%;
//     background-image: url(assets/wave-color2.png);
//     background-size: 115% 100%;
//     rotate: 180deg;
//     animation: wave 5s linear infinite;
// }
// @keyframes wave {
//     0% {
//         background-position-x: 0%;
//     }
//     100% {
//         background-position-x: 770%;
//     }
// }
// .header-title {
//     position: absolute;
//     z-index: 1;
//     left: 0;
//     right: 0;
//     margin-left: auto;
//     margin-right: auto;
//     top: 0;
//     bottom: 0;
//     // top: 50%;
//     // bottom: 50%;
//     // margin-top: -25px;
//     // margin-bottom: -25px;
// }

// CONTAINER PRINCIPAL
.container {
    padding: 5%;
}

// TOAST CSS
.toast-css {
    text-align: center;
}

// QR CODE
.qr-style > img{
    width: 100%;
}

// ION-DATETIME
ion-datetime {
    --background: var(--third-color);
    --background-rgb: 255, 241, 242;
  
    border-radius: 20px;
    box-shadow: rgba(var(--first-color), 0.3) 0px 10px 15px -3px;
}

.datetime-modal {
    --background: none;
}